/* VARIABLES & MIXINS */
:root{
    --mint:#C4F0A8;
    --black:#2E2C2F;
    --green:#1D5F2F;
}

*{
    box-sizing:border-box;
    margin:0;
    padding:0;

}

@font-face {
    font-family:'Matrix';
    src: url('/assets/fonts/bnmatrix-webfont.woff2') format('woff2'),
         url('/assets/fonts/bnmatrix-webfont.woff') format('woff'), 
         url('/assets/fonts/BNMatrixRegular.eot'),
         url('/assets/fonts/BNMatrixRegular.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/BNMatrixRegular.ttf') format('truetype'),
         url('/assets/fonts/BNMatrixRegular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}



/* Styling Body */

body{
     background-color:var(--mint);
     font-family:'Matrix';
}

 /* Header Stylings */
.header{
     padding-top:10px;
     background-color:var(--mint);
     color: var(--black);
     font-family: 'Matrix', Arial, sans-serif;
     border-bottom: solid 5px var(--black);
     display:flex;
     justify-content:space-between;
     align-items:center;
     flex-wrap:wrap;
     height:15vh;
}

.header h1{
     font-weight:bold;
     font-size: 5vw;
     color:var(--green);
     text-transform:uppercase;
     margin-left:10px;
}

.header nav{
     font-size: 2vw;
     margin: 7px 0;
}

.header nav ul {
     display:flex;
     flex-wrap:wrap;
     justify-content:space-between;
     align-items:center;
     list-style-type:none;
}

.header nav ul li a{
       color:var(--black);
       text-decoration:none;
       text-transform:uppercase;
       font-weight:lighter;
       margin: 0 30px;
}

.header nav ul li a:hover{
        color:var(--green);
        text-decoration: underline;
}

p{
       font-size:1.5vw;
}

   /* STYLINGS FOR HERO SECTION */

.hero{
       height: 60vh;
       width:100vw;
       border-bottom: solid 5px var(--black);
       background-image:url("./assets/images/anjulituck.jpg");
       background-size: cover;
       background-position:center;
       display:flex;
       justify-content:space-evenly;
       align-items:center;
       flex-wrap:wrap;
       
}

.hero img{
       height: 50vh;
       width:16vw;
       border: solid 5px var(--green);
}


.hero h3{
       width:30%;
       text-align:center;
       padding:2%;
       border: solid 5px var(--green);
       font-size:2.7vw;
       background-color: var(--green);
       color:var(--mint);
       border: solid 5px var(--mint);
       
}

.content{
   width:100%;
   height: 220vh;
   padding:10px 50px 10px 50px;
   display:flex;
   flex-direction:column;
   justify-content:center;
   align-content:space-between;
   
}

.about,.work,.contact{
    display:flex;
    justify-content:flex-start;
    align-items:space-evenly;
    margin-bottom:60px;
}
.work{
    height:170vh;
}
.about h2, .work h2, .contact h2{
    font-size:3.16vw;
    padding-right:20px;
    text-align:right;
    width:30%;
    color:var(--green);
    text-transform: uppercase;
    font-family: 'Matrix';
}

.about-excerpt, .projects, .contact-info{
    padding-left:20px;
    padding-right:40px;
    border-left: solid 5px var(--green);
    width:70%;
}

.projects{
    display:flex; 
    flex-wrap:wrap;
    align-items:flex-start;
    justify-content:space-between !important;
    border-left: solid 5px var(--green);
}

.weskincare{
    background-image:url(./assets/images/weskincare.png);
    background-position:center;
    background-size:cover; 
    border: solid 5px var(--green);
    height:30%;
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content:flex-end;
    opacity:.7;
}

.weskincare:hover{
    opacity:1;
}


.weskincare h3, .weskincare p, .gooddog h3, .gooddog p, .mu h3, .mu p, .studiojunk h3, .studiojunk p, .recycle h3, .recycle p{
    background: var(--black) !important;
    text-align:center;
    padding:2%;
    width:14vw;
    font-size:1.5vw;
    color:var(--mint);
}


.gooddog{
    background-image:url(./assets/images/gooddog.png);
    background-position:center;
    background-size:cover; 
    border: solid 5px var(--green);
    height:30%;
    width:60%;
    display:flex;
    flex-direction: column;
    justify-content:flex-end;
    opacity:.7;
}

.gooddog:hover{
    opacity:1;
}

.mu{
    background-image:url(./assets/images/muicecream.png);
    background-position:center;
    background-size:cover; 
    border: solid 5px var(--green);
    height:30%;
    width:35%;
    display:flex;
    flex-direction: column;
    justify-content:flex-end;
    opacity:.7;
}

.mu:hover{
    opacity:1;
}

.studiojunk{
    background-image:url(./assets/images/anjulituck.jpg);
    background-position:center;
    background-size:cover; 
    border: solid 5px var(--green);
    height:30%;
    width:35%; 
    display:flex;
    flex-direction: column;
    justify-content:flex-end;
    opacity:.7;
}

.studiojunk:hover{
    opacity:1;
}

.recycle {
    background-image:url(./assets/images/pexels-anna-shvets-3962260\ 2.jpg);
    background-position:center;
    background-size:cover; 
    border: solid 5px var(--green);
    height:30%;
    width:60%;
    display:flex;
    flex-direction: column;
    justify-content:flex-end;
    opacity:.7;
}

.recycle:hover{
    opacity:1;
}

.contact-info ul {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:center;
    list-style-type:none;
}

.contact-info a {
    text-decoration: none;
    text-transform: uppercase; 
    color:var(--black);
    font-size: 1.2vw;
}

.contact-info a:hover{
    text-decoration: underline;
    font-weight:bolder;
}

.footer{
    width:100%;
    background:var(--black);
    padding:30px 35px;
}

.footer p{
    font-size: .8rem;
    color:var(--mint);
    text-align:center;
}


@media screen and (max-width:600px) { 
    .header{
       align-items:center;
       justify-content:center;
    }

    .hero img{
        display:none;
    }

    
    
}






    














